# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\斗地主完整代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
